div {
	text-align: center;
	border-radius: 10px; 
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px; 
	border: 0px solid #FFFFFF;
}
body {
	background-image: linear-gradient(to right, red, green);
	background-size: stretch;
	font-family: Tahoma, Geneva, sans-serif;
}
.noncon {
	background-color: white;
	margin: 5%;
}
#firstpage {
	margin: auto;
	position: fixed;
	left: 0;
	right: 0;
	top: 25%;
	width: 50%;
}
#secondpage {
	margin: auto;
	position: fixed;
	left: 0;
	right: 0;
	top: 125%;
	width: 50%;
	height: 10%;
	background-color: white;
}
#thirdpage {
	margin: auto;
	position: fixed;
	left: 0;
	right: 0;
	top: 225%;
	width: 50%;
}
#titlebox {
	
}
#titletext {
	
}
#twitterlink {
	
}
#intro {
	
}
#introtext {
	
}
#percentages {
	margin: auto;
}
#graph {
	margin: auto;
}
#tenneg {
	margin: auto;
}
#tenpos {
	margin: auto;
	float: right;
}
#nextpage {
	margin: auto;
}
#clarertitle {
	margin: auto;
}
#explain {
	margin: auto;
}
#credits {
	margin: auto;
}